/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
/* Colors */
/** breakpoints
1920
1440
1024
980
768
630
600
480
350
**/
/** media queries **/
/* Images */
.container-1850 {
  max-width: 1850px;
  width: 100%;
  padding: 0 50px;
  margin: 0 auto; }
  @media only screen and (max-width: 768px) {
    .container-1850 {
      padding: 0 15px; } }

body {
  overflow-x: hidden; }

h1,
.h1 {
  font: normal normal 900 90px/109px "Roboto", sans-serif;
  letter-spacing: 5.4px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
  margin: 0; }
  @media only screen and (max-width: 1440px) {
    h1,
    .h1 {
      font-size: 70px;
      line-height: 80px; } }
  @media only screen and (max-width: 980px) {
    h1,
    .h1 {
      font-size: 50px;
      line-height: 60px;
      letter-spacing: 3.4px; } }
  @media only screen and (max-width: 768px) {
    h1,
    .h1 {
      font-size: 40px;
      line-height: 48px;
      letter-spacing: 2.4px; } }

.relative {
  position: relative; }

.cursor {
  pointer-events: none; }
  .cursor__ball {
    position: fixed;
    top: 0;
    left: 0;
    mix-blend-mode: difference;
    z-index: 1000; }
    .cursor__ball circle {
      fill: #f7f8fa; }
  @media only screen and (max-width: 768px) {
    .cursor {
      display: none; } }

header {
  padding: 50px 0;
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 9; }
  header .logo {
    width: 178px;
    height: 95px;
    z-index: 1;
    position: relative; }
    header .logo * {
      font-size: 0; }
    header .logo img {
      position: absolute;
      object-fit: contain;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%; }
  @media only screen and (max-width: 768px) {
    header {
      padding: 30px 0; }
      header .logo {
        width: 102px;
        height: 55px; } }

nav .navbar-toggler {
  padding: 0;
  font-size: 34px;
  margin: 0;
  line-height: 1;
  background-color: transparent;
  border: none;
  border-radius: 0;
  height: 34px;
  z-index: 1;
  position: relative; }
  nav .navbar-toggler:focus {
    box-shadow: none; }
nav .navbarCollapse {
  position: fixed;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  background: #1a1a1a;
  color: #ffffff;
  overflow: hidden;
  padding: 0;
  transition: 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-delay: 0.1s; }
  nav .navbarCollapse .nav-item {
    transform: translate3d(0, 36px, 0);
    opacity: 0;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out; }
    nav .navbarCollapse .nav-item .nav-link {
      font: italic normal bold 80px/120px "Roboto", sans-serif;
      letter-spacing: 0px;
      color: #ffffff;
      padding: 0; }
      @media only screen and (max-width: 768px) {
        nav .navbarCollapse .nav-item .nav-link {
          font-size: 40px;
          line-height: 80px; } }
  nav .navbarCollapse .navbarCollapseOverlay {
    background: #000000;
    width: 100%;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    overflow: hidden;
    transition-delay: 0.2s; }
  nav .navbarCollapse.active {
    height: 100%;
    padding: 200px 0 50px; }
    nav .navbarCollapse.active .navbarCollapseOverlay {
      height: 100%; }
    @media only screen and (max-width: 768px) {
      nav .navbarCollapse.active {
        padding: 184px 0 50px; } }
    nav .navbarCollapse.active .nav-item {
      opacity: 1;
      transform: translate3d(0, 0, 0); }
      nav .navbarCollapse.active .nav-item:nth-child(1) {
        transition-delay: 0.75s; }
      nav .navbarCollapse.active .nav-item:nth-child(2) {
        transition-delay: 0.85s; }
      nav .navbarCollapse.active .nav-item:nth-child(3) {
        transition-delay: 0.95s; }
      nav .navbarCollapse.active .nav-item:nth-child(4) {
        transition-delay: 1.05s; }

#body.active {
  overflow-y: hidden; }

#navbar-toggler-icon {
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer; }
  #navbar-toggler-icon.active span:nth-child(1) {
    transform: rotate(45deg) translate(1px, -1px);
    left: 6px;
    top: -1px; }
  #navbar-toggler-icon.active span:nth-child(2) {
    transform: rotate(-45deg) translate(1px, 0);
    left: 4px;
    top: 10px; }
  #navbar-toggler-icon span {
    background-color: #ffffff;
    margin: 4px 0;
    display: block;
    transition: all 0.4s ease;
    transform-origin: 0 0;
    width: 34px;
    height: 5px;
    position: relative; }
    #navbar-toggler-icon span:nth-child(1) {
      left: -15px; }

.hero-banner {
  min-height: 800px; }
  .hero-banner .carousel-item {
    min-height: 800px; }
    .hero-banner .carousel-item .slide {
      min-height: inherit; }
      @media only screen and (max-width: 768px) {
        .hero-banner .carousel-item .slide {
          padding-top: 118px;
          align-items: flex-start !important; } }
  .hero-banner .content {
    position: relative;
    z-index: 1;
    width: 76%;
    margin: 0 0 52px;
    min-height: 554px;
    padding: 30px 30px 30px 208px; }
    .hero-banner .content::before {
      position: absolute;
      content: "";
      width: 910px;
      height: 100%;
      background: #000000;
      left: 0;
      z-index: -1;
      clip-path: polygon(0 0, 100% 0, 58% 100%, 0 100%);
      opacity: 0.6;
      top: 0; }
    @media only screen and (max-width: 1520px) {
      .hero-banner .content {
        padding: 30px 30px 30px 60px; } }
    @media only screen and (max-width: 1440px) {
      .hero-banner .content::before {
        width: 710px; } }
    @media only screen and (max-width: 980px) {
      .hero-banner .content {
        min-height: 350px; }
        .hero-banner .content::before {
          width: 550px;
          clip-path: polygon(0 0, 100% 0, 30% 100%, 0 100%); } }
    @media only screen and (max-width: 768px) {
      .hero-banner .content {
        min-height: 258px;
        padding: 40px 20px 20px;
        margin: 0;
        width: 100%; }
        .hero-banner .content::before {
          width: 100%;
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 50%); } }
  .hero-banner .image-section {
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0; }
    .hero-banner .image-section::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background-color: #000000; }
    .hero-banner .image-section img {
      position: absolute;
      object-fit: cover;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      position: relative; }

.carousel-control-nav {
  bottom: 80px;
  display: flex;
  justify-content: flex-end;
  padding-right: 80px; }
  .carousel-control-nav button {
    position: relative;
    opacity: 0.75;
    width: 40px;
    height: 20px; }
    .carousel-control-nav button.carousel-control-prev {
      transform: rotate(-180deg);
      margin-right: 8px; }
  @media only screen and (max-width: 768px) {
    .carousel-control-nav {
      padding-right: 15px;
      justify-content: center; } }

/*# sourceMappingURL=custom.css.map */
